@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>To Human Capital Management APP</h3>
    <h3>IMMEDIS INTERNSHIP 2023</h3>
    <p></p>
    <div class="container">
        <h3 style="font-size: 22px;">For new users follow:</h3> <a asp-controller="Account" asp-action="Login" style="font-size: 22px;">Login</a>
        <p></p>
        <h3 style="font-size: 22px;">For registered users follow:</h3> <a asp-controller="Account" asp-action="Register" style="font-size: 22px;">Register</a>
    </div>
</div>
