@model IEnumerable<LeaveRequestViewModel>
@{
    ViewData["Title"] = "All Leave Requests";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>

<hr />

@if (!Model.Any())
{
    <h2>There are no vacation requests available.</h2>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th><p>Id</p></th>
            <th><p>EmployeeId</p></th>
            <th><p>From</p></th>
            <th><p>To</p></th>
            <th><p>Description</p></th>
            <th><p>Request type</p></th>
            <th><p>Approved</p></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var request in Model)
        {
            <partial name="_RequestPartial" model="@request" />
        }
        </tbody>
    </table>
}