.backgroundImage {
    background-image: url("https://img.freepik.com/free-vector/gradient-background-green-tones_23-2148374530.jpg?w=1380&t=st=1700116453~exp=1700117053~hmac=c52f4c8a1e7d58197bf5e7f8aeeca485a6afcb845346eb28f928ce31152e645e");
    /*background-color: aquamarine;*/
    background-size: cover;
    background-attachment: fixed
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    background-color: rgba(255, 255, 255, 0);
}
