@{
    ViewData["Title"] = "Logout Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <h3>You have left your account. To see your information, you must log in again</h3>
    <p></p>
    <div class="container">
        <h3 style="font-size: 22px;">Please log in:</h3> <a asp-area="" asp-controller="Account" asp-action="Login" style="font-size: 22px;">Login</a>
    </div>
</div>